* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
    box-sizing: border-box;
  }
  
.board-container {
    background-color: #9a7b4f;
    width: 900px;
    height: 900px;
    padding: 50px;
    box-shadow: 0px 0px 14px 2px black;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-board {
    width: 700px;
    height: 500px;
    display: grid;
}

.cell {
  max-width: 250px;
  min-width: 250px;
  max-height: 250px;
  min-height: 250px;
}

#a {
  grid-column: 1;
  grid-row: 1;
}

#b {
  grid-column: 2;
  grid-row: 1;
  border-right: solid;
  border-left: solid;
}

#c {
  grid-column: 3;
  grid-row: 1;
}

#d {
  grid-column: 1;
  grid-row: 2;
  border-top: solid;
  border-bottom: solid;
}

#e {
  grid-column: 2;
  grid-row: 2;
  border: solid;
}

#f {
  grid-column: 3;
  grid-row: 2;
  border-top: solid;
  border-bottom: solid;
}

#g {
  grid-column: 1;
  grid-row: 3;
}

#h {
  grid-column: 2;
  grid-row: 3;
  border-right: solid;
  border-left: solid;
}

#i {
  grid-column: 3;
  grid-row: 3;
}