* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
    box-sizing: border-box;
  }

  .board-container {
    width: 70%;
    background-color: blue;
    margin: 0 auto;
    font-size: 0;
    border: 2px solid #000;
}