@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

* {
    font-family: 'Rubik Moonrocks', cursive;
    box-sizing: border-box;
  }
  
.board-container {
    background-color: #9a7b4f;
    width: 900px;
    height: 900px;
    padding: 50px;
    box-shadow: 0px 0px 14px 2px black;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-board {
    width: 450px;
    height: 150px;
    display: grid;
    margin-left: 150px;
}

.cell {
  max-width: 150px;
  min-width: 150px;
  max-height: 150px;
  min-height: 150px;
  cursor: pointer;
  border-width: thick !important;
  text-align: center;
  
}

#a {
  grid-column: 1;
  grid-row: 1;
}

#b {
  grid-column: 2;
  grid-row: 1;
  border-right: solid;
  border-left: solid;
}

#c {
  grid-column: 3;
  grid-row: 1;
}

#d {
  grid-column: 1;
  grid-row: 2;
  border-top: solid;
  border-bottom: solid;
}

#e {
  grid-column: 2;
  grid-row: 2;
  border: solid;
}

#f {
  grid-column: 3;
  grid-row: 2;
  border-top: solid;
  border-bottom: solid;
  
}

#g {
  grid-column: 1;
  grid-row: 3;
}

#h {
  grid-column: 2;
  grid-row: 3;
  border-right: solid;
  border-left: solid;
}

#i {
  grid-column: 3;
  grid-row: 3;
}

.title{
  line-height: 10%;
  width: 100%;
  text-align: center;
  font-size: 50px;
}
.info{
  background-color: #795c34;
  position: relative;
  top: 450px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  border: inset thick;
  border-radius: 10px;
}

button {
  background-color:#795c34;;
  color:white;
  /*border: 2px solid black;*/
  padding: 20px 30px 20px 30px;
  border-radius: 10px;
  width: 100px ;
  height: 40px;
  position: relative;
  top: 30px;
  cursor: pointer;
}

.x-hover:hover::after {
  content: "X";
  opacity: 0.4;
}

.O-hover:hover::after {
  content: "O";
  opacity: 0.4;
}